<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form th:method="POST" th:action="@{/registration}">
    <label for="name">Enter name: </label>
    <input type="text" name="name" id="name"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" name="age" id="age"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" name="email" id="email"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" name="password" id="password">
    <br/>
    <label for="role">Enter role: </label>
    <select name="role" id="role">
        <option>USER</option>
        <option>ADMIN</option>
    </select>
    <br/>
    <input type="submit" value="Create user">
</form>
</body>
</html>