
body {
    background-color: #f8f9fa;
}

input.signIn {
    background-color: #027cff;
    color: white;
}

input:focus.signIn {
    background-color: #027cff;
    color: white;
}

.form-login{
    width: 25%;
    padding: 3% 0% 0% 0%;
}
